<form class="container" [formGroup]="form">
  <div class="row">
    <label class="col-4">Hours:</label>
    <input formControlName="hours" class="form-control col-8"/>
    <ng-container *ngIf="hours.touched">
      <div *ngIf="hours.hasError('required')" class="error col-12">Feld muss angegeben sein.</div>
      <div *ngIf="hours.hasError('hours')" class="error col-12">Das Format der Stunden ist ungültig.</div>
    </ng-container>
  </div>
  <div class="row">
    <label class="col-4">Description:</label>
    <input formControlName="description" class="form-control col-8"/>
    <ng-container *ngIf="description.touched">
      <div *ngIf="description.hasError('required')" class="error col-12">Feld muss angegeben sein.</div>
      <div *ngIf="description.hasError('maxlength')" class="error col-12">Maximallänge wurde überschritten.</div>
      <div *ngIf="description.hasError('minlength')" class="error col-12">Minimallänge wurde unterschritten.</div>
    </ng-container>
  </div>
  <div class="button-line row">
    <span class="align-middle">You are about to log {{ hours.value }} hours.</span>
    <button [disabled]="false" (click)="clickedButton()" class="btn btn-primary">Add</button>
    <div *ngIf="form.hasError('descriptionMinutesError')" class="error col-12">Wenn du über 10 Minuten buchen willst, musst du eine Description länger als 10 Zeichen hinterlegen.</div>
  </div>
</form>
