<!--The content below is only a placeholder and can be replaced.-->
<div class="root">
  <h1>Time Tracking</h1>
  <div class="content container">
    <div class="row">
      <label class="col-4">Hours:</label>
      <input (keyup)="inputChange($event.target.value)" [value]="hours" class="form-control col-8"/>
    </div>
    <div class="row">
      <label class="col-4">Description:</label>
      <input class="form-control col-8"/>
    </div>
    <div class="row float-right">
      <span>You are about to log {{hours}} hours.&nbsp;</span>
      <button (click)="clickedButton()" class="btn btn-primary">Add</button>
    </div>
  </div>
</div>
