.button-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    padding-right: 0.5rem;
  }
}

.row {
  padding-bottom: 0.5rem;

  .error{
    color: red;
    font-size: 0.8rem;
    text-align: right;
    padding: 0;
  }
}
